* {
    box-sizing: border-box;
    border: none; outline: none;
    scroll-behavior: smooth;
}

:root {
    --color-grey: #ededed;
    --color-black: #161616;
    --color-red: #e84141;
    --color-scarlet: #ef7657;
}

body {
    margin: 0;
    font-family: arial, serif;
    user-select: none;
}